
body {
    text-align: center;
    background-color: lightslategray;
}

.game_tools{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 42.5%;
    width: 150px;
    height: 40px;
    background-color: rgb(221, 103, 103);
    padding: 20px;
    align-items: center;
    border-radius: 20px;
}

.game {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 850px;
    height: 600px;
    margin: auto;
    margin-top: 20px;
}

.game_level{
    font-size: 20px;
    color: white;
}


.main_menu{
    align-items: center;
    margin: auto;
    width: 850px;
    height: 600px;
    /* opacity: 0.7; */
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    transform: translateY(-95%);
    background: url(img/game_start.jpeg) center/cover no-repeat;
    /* visibility: hidden; */
}

.main_menu_popup{
    background-color: lightslategray;
    opacity: 0.8;
    border-radius: 20px;
}

.pop_up{
    margin: auto;
    width: 400px;
    height: 140px;
    opacity: 0.7;
    background-color: black;
    color: white;
    text-align: center;
    border: 1px solid black;
    font-size: 20px;
    padding: 20px;
    transform: translateY(-550%);
    visibility: hidden;
}

.main_menu_title{
    color:white;
    font-size: 42px;
}

.main_menu_text{
    color:rgb(221, 103, 103);
    font-size: 32px;
}

.main_menu_button{
    width: 55px;
    height: 55px;
}